In [9]:
# This notebook downloads price data from securities_master database

# Importing libraries required
import os
import requests
import pandas as pd
from dotenv import load_dotenv
from pathlib import Path
import calendar
import hvplot.pandas
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
import numpy as np
import os
import psycopg2

# Obtain a database connection to the database instance
#conn = psycopg2.connect("dbname=securities_master_interday user=postgres host=localhost password=postgres port=5432")
#engine = create_engine("postgresql://postgres:postgres@localhost:5432/securities_master_interday")
# Checking connection
#session=sessionmaker(bind=engine)()
#%load_ext sql
#%sql $engine.url

In [7]:
def stock_data_from_db(symbol):

    query=f'SELECT dp.price_date, dp.adj_close_price, dp.volume FROM symbol AS sym INNER JOIN daily_price AS dp ON dp.symbol_id = sym.id WHERE sym.ticker = \'{symbol}\' ORDER BY dp.price_date ASC'
    
    try:
        stock_data_df = pd.read_sql_query(query,engine)
        stock_data_df=stock_data_df.set_index('price_date',drop=True)
        return stock_data_df
    except Exception as e:
        print('Could not download data for %s ticker "(%s)...skipping.' % (symbol, e))
    #conn.close()
    return []

In [8]:
stock_data_from_db('TMO')

            adj_close_price   volume
price_date
2019-12-03         310.4414   966441
2019-12-04         313.1700  1008968
2019-12-05         313.5270   857081
2019-12-06         317.6149  1214196
2019-12-09         313.9537   909920
...                     ...      ...
2023-03-31         576.3700  1438708
2023-04-03         570.0700  1034443
2023-04-04         576.1800  1085578
2023-04-05         579.8600  1035629
2023-04-06         575.3500   780734

[842 rows x 2 columns]